*{
    padding: 3px;
}


.orta{
    margin: auto;
    margin-top: 50px;
}



.renk {
    text-align: center;
    text-decoration: none;
   

}

.renk:hover {
    transform: scale(1.2);
    background-color: white;
    transition: 1s;
    border-radius: 50px;

}

.renk1:hover {
    transform: scale(0.8);
    background-color: white;
    transition: 1s;
    border-radius: 50px;

}

.ortala{
    text-align: center;
    
}

.sol {
    float: left;
    padding: 0px 30px 0px 10px;
    text-align: center;
    border-left: 2px solid black;
}

.sag {
    float: right;
    color: black;

}





